[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-ansible-yaml"]
	path = vim/.vim/bundle/vim-ansible-yaml
	url = git@github.com:chase/vim-ansible-yaml.git
[submodule "vim/.vim/bundle/numbers"]
	path = vim/.vim/bundle/numbers
	url = git@github.com:myusuf3/numbers.vim.git
	branch = master
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/vim-gocode"]
	path = vim/.vim/bundle/vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
